
/*detais*/
.our-journey,
.vision-mission {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    transition: transform 0.3s ease-in-out;
}
.our-journey,
.vision-mission p {
    font-size: 18px;         /* Change size here */
    color: #161414;          /* Change color here */
    font-family: 'Georgia', serif;
    line-height: 1.7;
    text-align: justify;
  }

.our-journey,
.vision-mission h2{
    font: optional;color: black;
    font-family: 'Georgia', serif;
}

.our-journey:hover {
    transform: translateY(-5px);
    background-color: rgb(233, 146, 175);
}
.vision-mission:hover{
    transform: translateY(-5px);
    background-color: rgb(233, 146, 175);
}


h2 {
    color: #571d1d;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

h3 {
    color: #457b9d;
    font-size: 24px;
    font-weight: 600;
}

.why-choose-us .row {
    display: flex;
    justify-content: space-between;
}

.why-choose-us h4 {
    color: #e63946;
    font-size: 22px;
    font-weight: 600;
    margin-top: 15px;
}

.stats {
    background: #f1f1f1;
    padding: 50px 0;
}

.stats h2 {
    color: #1d3557;
    margin-bottom: 30px;
}

.counter {
    font-size: 40px;
    font-weight: bold;
    color: #e63946;
}

.stats p {
    font-size: 18px;
    font-weight: 600;
}

/*details*/

